  </head>

<h2>Favorite Coffee Shops to Visit</h2>
<ul>
	<% @shops_to_visit.each do |to_visit| %>
	<li><%= to_visit.title %><a href="/coffee_list/<%= to_visit.id %>" class="btn btn-large">Delete</a></li>
	<% end %>
</ul>

<div class="login-form">
  <form action="/coffee_list" method="post">
    <div class="form-group">
      <input type="text" id="title" name="title"class="form-control login-field" value="" placeholder="Add Coffee Shop" />
    </div>
    <input type="submit" a class="btn btn-primary btn-lg btn-block" ></a>
    </form>
</div>