<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>

<h2>Favorite Coffee Shops to Visit</h2>
<ul>
	<% @shops_to_visit.each do |to_visit| %>
	<li><%= to_visit %></li>
	<% end %>
</ul>

<div class="login-form">
  <form action="/delete-list" method="post">
    <div class="form-group">
      <input type="text" id="delete_coffee_shop" name="delete_coffee_shop"class="form-control login-field" value="" placeholder="Delete Coffee Shop" />
    </div>
    <input type="submit" a class="btn btn-primary btn-lg btn-block" ></a>
    </form>
</div>

<a href="/add-list">Click to add</a>