<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Favorite Coffee Shops</title>
    <meta name="description" content="Shopping List App"/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">

  </head>
  
  <body>
	  <div class="container">
		  <div class="demo-headline">
			</div>    
		    <div class="login">
		      <div class="login-screen">
		        <div class="login-icon">
		          <img src="images/icons/png/pocket.png" alt="Favorite Coffee Shops" />
		          <h4>Coffee Shops to visit</h4>
		        </div>
		        <div class="login-form">
						  <form action="/coffee_list" method="post">
						    <div class="form-group">
						      <input type="text" id="title" name="title"class="form-control login-field" value="" placeholder="Add Coffee Shop" />
						    </div>
						    <input type="submit" a class="btn btn-primary btn-lg btn-block" ></a>
						    </form>
						</div>
		      </div>
		    </div>
		</div>   
  </body>
</html>
