<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Favorite Coffee Shops</title>
    <meta name="description" content="Shopping List App"/>

    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
<!--     <link href="css/demo.css" rel="stylesheet"> -->

  </head>

  <body>
  <%= yield %>
  </body>
</html>
